body {
  background-color: yellow;
}

#demo {
  color: dodgerblue;
}

h1 {
  color: teal;
  text-align: center;
}

h2 {
  color: red;
  text-align: center;
}

h3 {
  text-align: justify;
  color: green;
}